others/
fail.txt
interests.txt
*.pdf
!name-ml.pdf
!name-hi.pdf

# Created by https://www.gitignore.io/api/tex

### TeX ###
## Core latex/pdflatex auxiliary files:
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2

## Intermediate documents:
*.dvi
*.xdv
*-converted-to.*
*.ps
*.eps
